@import url('https://fonts.googleapis.com/css2?family=Anek+Latin:wght@400;500;600&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f8f8f8;
  height: 100%;
}

html {
  font-family: 'Anek Latin', sans-serif;
  font-weight: 400;
  font-size: 16px;
  height: 100%;
}

footer {
  background-color: rgba(0,0,0,0.075);
  font-size: 0.9rem;
  margin-top: 20px;
  padding: 40px 0;
}

footer p {
  margin: 0;
  padding: 0;
}

/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */

/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX DESKTOP VERSION XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */

/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */

@media screen and (min-width: 768px) {

}
