* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: #CAAA68 url('../assets/background.jpg') no-repeat;
  background-size: cover;
  height: 100%;
}

html {
  font-family: 'Anek Latin', sans-serif;
  font-weight: 400;
  font-size: 16px;
  height: 100%;
}

footer {
  background-color: rgba(0,0,0,0.075);
  font-size: 0.9rem;
  margin-top: 20px;
  padding: 40px 0;

  p {
    margin: 0;
    padding: 0;
  }
}

.comment {
  height: 75px;
  resize: none;
}

.logo {
  height: 45px;
  width: auto;
}

.messages {
  height: auto;
  max-height: 150px;
  overflow-y: auto;
  width: 100%;

  p {
    margin: 5px 0;
  }
}

.modal-img {
  height: auto;
  max-width: 200px;
  width: 100%;
}

/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX DESKTOP VERSION XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */

@media screen and (min-width: 768px) {

}
